{% block body %}

    {% include 'header.html.twig' %}

    <main class="login">
        <h1>Connexion</h1>

        <section class="registration">
            <form method="post" class="form-group">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="inputEmail">Adresse email:</label>
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="username" required autofocus>
                <label for="inputPassword">Mot de passe:</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <button class="btn" type="submit">Se connecter</button>
            </form>
            <p>Pas encore inscrit ?</p>
            <button><a href="{{ path('app_register') }}">Créer un compte</a></button>
        </section>
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}

