{% block body %}

    {% include 'header.html.twig' %}

    <main>

        <h1>Nos formations</h1>
        <section class="formation">
        {% for theme in themes %}
            <article>
                <p>{{ theme.name }}</p>
                <button>
                    <a href="{{ path('app_theme_cursus', {'id': theme.id}) }}">Consulter</a>
                </button>
            </article>    
        {% endfor %} 
        </section>   
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}