{% block body %}

{% include 'header.html.twig' %}

<main>

    <h1>Vous y êtes presque !</h1>
    <p>Pour vous connecter</p>
    <P>Valider d'abbord le lien envoyé à l'adresse : {{ user.email }}</p>
    <p>à très bientôt, avec knowledge Learning</p>

</main>

{% include 'footer.html.twig' %}

{% endblock %}