{% block body %}

    {% include 'header.html.twig' %}

    <main>

        <h1>Hello Admin</h1>

        <section class="admin">

        <a href="{{ path('admin_create_theme')}}">Créer un nouveau theme</a>
        <a>Créer un nouveau Cursus</a>
        <a>Créer une nouvelle leçon</a>

        </section>
        
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}
