<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('styles/app.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/footer.css')}}">
</head>
<body>

    {% block footer %}
        <footer>
        <h2>Informations de la société</h2>
        <p>Nom de la société: Knowledge</p>
        <p>Adresse: 1 Rue de l'adresse, Centre ville du centre</p>
        <p>adresse de contact: knowledge@learning.com</p>
        </footer>
    {% endblock %}

</body>
</html>