<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('styles/app.css')}}">
    <link rel="stylesheet" href="{{ asset('styles/header.css')}}">
</head>
<body>

    {% block header %}
        <header>

            <figure>
                <img src="{{ asset('img/logo.png') }}" alt="logo knowledge">
                <figcaption>Votre avenir, Notre réussite</figcaption>
            </figure>

            <nav>
                <a href="#">Accueil</a>
                <a href="#">Nos formations</a>
                <a href="#">Connexion</a>
                <a href="#">Inscription</a>
            </nav>

        </header>
    {% endblock %}

</body>
</html>