<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body class="wrapper">

    {% block header %}
        <header class="header">

            <figure>
                <img src="{{ asset('img/logo.png') }}" alt="logo knowledge">
                <figcaption>Votre avenir, Notre réussite</figcaption>
            </figure>

            <nav>
                <a href="#">Accueil</a>
            </nav>

        </header>
    {% endblock %}

</body>
</html>